*~
*.pyc
erl_crash.dump
*.beam
*.app
.eunit
config.log
config.status
deps/
Mnesia.nonode@nohost/
/log/
/logs/
src/rendering/occi_scanner.erl
src/rendering/occi_scanner_json.erl
test/*.beam
/doc/*.html
/doc/*.md
/doc/edoc-info
/doc/erlang.png
/doc/stylesheet.css
/doc/utf8/
/.rebar
/priv/Mnesia
ebin
/.deps_plt
/Makefile
/Makefile.in
/apps/Makefile
/apps/Makefile.in
/apps/core/Makefile
/apps/core/Makefile.in
/apps/core/src/rendering/occi_scanner_json.erl
/apps/authnz/Makefile
/apps/authnz/Makefile.in
/apps/listener_http/Makefile
/apps/listener_http/Makefile.in
/apps/listener_xmpp/Makefile
/apps/listener_xmpp/Makefile.in
/aclocal.m4
/autom4te.cache
/configure
/install-sh
/missing
