# Generic
*~
*.pyc
*.beam
*.app
*.la
*.lo
*.o
*.d
.eunit
.libs

# autoconf
/autom4te.cache/
/config.log
/config.status
Makefile

# erlang
erl_crash.dump
/log/
/logs/
test/*.beam
/priv/Mnesia
/.deps_plt
/deps
/variables-ct*
/Mnesia.*
/.erlang.mk

# tests
/apps/erocci/logs/
/apps/erocci/test/pocci_SUITE_data/pocci.conf

# relx
/relx
/rel/erocci

erocci-*.tar.xz

# Documentation
/doc/edoc-info
