% -*- mode: erlang -*-
{require_min_otp_vsn, "R18"}.

{deps, []}.

{plugins, 
 [
  pc,
  {econfig, {git, "https://github.com/erocci/econfig.git", {branch, "master"}}}
 ]}.

{provider_hooks,
 [
  {pre, [{compile, {econfig, template}}]},
  {post, [{clean, {econfig, clean}}]}
 ]}.

{econfig,
 [
  {model, 
   [
	{listener_xmpp,   "Enable XMPP listener",                   boolean, false, []},
	{listener_http,   "Enable HTTP listener",                   boolean, true,  []},
	{backend_admin,   "Enable admin backend",                   boolean, false, []},
	{backend_dbus,    "Enable D-Bus backend",                   boolean, true, []},
	{backend_fs,      "Enable fs backend",                      boolean, false, []},
	{backend_mnesia,  "Enable mnesia (DB) backend",             boolean, true, []},
	{authnz_htpasswd, "Enable htpassword based authentication", boolean, false, []}
   ]},
  {files, ["rebar.config"]}
 ]}.
