% -*- mode: erlang -*-
{erl_opts, [debug_info
	    ,{src_dirs, ["src", "examples/hello_occi/src"]}
	    ,fail_on_warning
	    ,{i, "deps/erim/include"}
	    ,{i, "../include"}
	    ,{i, "../../include"}
	    ,{i, "../../../include"}
	   ]}.

{eunit_opts, [verbose, 
	      {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, false}.

{require_min_otp_vsn, "R16B01"}.

{deps, [{lager, ".*", 
	 {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
	{cowboy, ".*", 
	 {git, "git://github.com/extend/cowboy.git", "0.9.0"}},
	{jiffy, ".*", 
	 {git, "git://github.com/davisp/jiffy.git", {tag, "0.9.0"}}},
	{erim, ".*", 
	 {git, "git://github.com/jeanparpaillon/erim.git", {branch, "master"}}},
	{uuid, ".*",
	 {git, "git://gitorious.org/avtobiff/erlang-uuid.git", {tag, "v0.4.6"}}},
	{uri, ".*",
	 {git, "git://github.com/heroku/uri.git", "master"}}
       ]}.

%% EDoc options
{edoc_opts, [{subpackages, true},
	     {packages, false}
	    ]}.

%% Common tests
{ct_extra_params, "-pa deps/goldrush/ebin -pa deps/ranch/ebin -pa deps/cowlib/ebin"}.
