% -*- mode: erlang -*-
{erl_opts, [debug_info
	    ,{src_dirs, ["src"]}
	    ,fail_on_warning
	    ,{i, "deps/erim/include"}
	    ,{i, "../include"}
	    ,{i, "../../include"}
	    ,{i, "../../../include"}
	   ]}.

{eunit_opts, [verbose, 
	      {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, false}.

{require_min_otp_vsn, "R16B01"}.

{deps, [{erocci_core, ".*", 
	 {git, "git://github.com/erocci/erocci_core.git", "master"}},
	{erocci_listener_http, ".*", 
	 {git, "git://github.com/erocci/erocci_listener_http.git", "master"}},
	{erocci_backend_mnesia, ".*", 
	 {git, "git://github.com/erocci/erocci_backend_mnesia.git", "master"}},
	{erocci_authnz_htpasswd, ".*", 
	 {git, "git://github.com/erocci/erocci_authnz_htpasswd.git", "master"}}
       ]}.

%% EDoc options
{edoc_opts, [{subpackages, true},
	     {packages, false}
	    ]}.

%% Common tests
{ct_log_dir, "log"}.
{ct_extra_params, "-pa deps/goldrush/ebin -pa deps/ranch/ebin -pa deps/cowlib/ebin"}.
