%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
[
 {kernel,
  [{error_logger, {file, "/var/log/erocci/kernel.log"}}]
 },

 {sasl,
  [
   {sasl_error_logger, {file, "/var/log/erocci/sasl.log"}},
   {errlog_type, all},
   {error_logger_mf_dir, "/var/log/erocci"},
   {error_logger_mf_maxbytes, 5000000},
   {error_logger_mf_maxfiles, 5}
  ]
 },

 {erocci_core, 
  [
   {listeners, 
    [
     {http, occi_http, [{port, 80}]}
    ]
   },
   {backends, 
    [ 
      {mnesia, occi_backend_mnesia,
       [{schemas, [{path, "/tmp/occi.xml"}]}],
       <<"/">>} 
    ]
   },
   {acl, 
    [
     {allow, '_', '_', '_'}
    ]}
  ]},

 {mnesia, 
  [{dir, "/tmp/erocci@localhost"}]
 }
].
