% -*- mode: erlang -*-
{erl_opts, 
 [
  {i, "apps/erocci_core/include"}
 ]}.

{deps, 
 [
  {erim_xml, ".*", {git, "git://github.com/lizenn/erim_xml.git", {tag, "v0.1.1"}}},
  {erim, ".*", {git, "git://github.com/lizenn/erim.git", {branch, "master"}}},
  {dnssd, ".*", {git, "git://github.com/benoitc/dnssd_erlang.git", {tag, "v0.9"}}}
 ]}.
