% -*- mode: erlang -*-
{erl_opts, 
 [
  {i, "apps/erocci_core/include"}
 ]}.

{deps, 
 [
  {erim_xml, ".*", {git, "git://github.com/lizenn/erim_xml.git", master}},
  {erim, ".*", {git, "git://github.com/lizenn/erim.git", master}},
  {dnssd, ".*", {git, "git://github.com/benoitc/dnssd_erlang.git", {tag, "v0.9"}}}
 ]}.
