[
 {lager, [
	  {colored, true}
	 ]},
 {occi, [
	 {backends, 
	  [
	   {dummy1, occi_backend_dummy,   [], "/"},
	   {mnesia, occi_backend_mnesia,  
	    [{schemas, [{xml, "priv/schemas/occi-infrastructure.xml"}]}],
	    "/store"},
	   {dummy2, occi_backend_dummy,   [], "/dummy1/with/a/long/path"},
	   {dummy3, occi_backend_dummy,   [], "/dummy2"}
	  ]
	 }
	]}
].
