[
 {lager, 
  [
   {colored, true}
  ]},
 {occi, 
  [
   {backends, 
    [
     {mnesia, occi_backend_mnesia,  
      [{schemas, [{xml, "priv/schemas/occi-infrastructure.xml"}]}],
      <<"/">>}
    ]
   },
   {acl, 
    [
     {allow, delete, capabilities, owner},
     {allow, '_', capabilities, '_'},
     {allow, create, '_', '_'},
     {allow, read, '_', group},
     {allow, update, '_', owner},
     {allow, delete, '_', owner},
     {deny, '_', '_', '_'}
    ]}
  ]}
].
