[
 {erocci_core, 
  [
   {listeners, 
	[
	 {http, occi_http, [{port, 8080}]}
	]},

   {backends, 
    [
     {mnesia, occi_backend_mnesia,  
      [{schemas, [{path, "apps/erocci/test/pocci_SUITE_data/occi-infrastructure.xml"}]}],
      <<"/">>}
    ]
   },
   {acl, 
    [
     {allow, '_', '_', '_'}
    ]}
  ]}
].
