[
 {erocci_core, 
  [
   {listeners, 
	[
	 {http, erocci_http, [{port, 8080}]}
	]},

   {backends, 
    [
     {root, erocci_backend_mnesia, 
      [{schema, {priv_dir, "occi.xml"}}],
      <<"/">>}
    ]
   },
   {acl, 
    [
     {allow, '_', '_', '_'}
    ]}
  ]},
 {erocci_listener_http, [{frontend, true}]}
].
