[
 {lager, 
  [
   {colored, true}
  ]},
 {occi, 
  [
   {backends, 
    [
     {libvirt, occi_backend_dbus,
      [{service, "org.ow2.erocci.backend.LibvirtBackend"},
       {opts, []}],
      <<"/">>}
    ]
   },
   {acl, 
    [
     {allow, delete, capabilities, owner},
     {allow, '_', capabilities, '_'},
     {allow, create, '_', '_'},
     {allow, read, '_', group},
     {allow, update, '_', owner},
     {allow, delete, '_', owner},
     {deny, '_', '_', '_'}
    ]}
  ]}
].
