%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
[
 {occi_core, 
  [
   {listeners, 
    [
     {http, occi_http, [{port, 8080}]}
    ]
   },
   {backends, 
    [ {mnesia, occi_backend_mnesia, [], <<"/">>} ]
   },
   {acl, 
    [
     {allow, '_', '_', '_'}
    ]}
  ]},

 {occi_backend_mnesia, 
  [{schemas, [{priv_dir, "occi.xml"}]}]
 },

 {mnesia, 
  [{dir, "/tmp/erocci@localhost"}]
 }
].
